footer {
  padding: 40px 0;
  cursor: pointer;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-top {
  border-bottom: 1px solid var(--color-light);
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--color-light);
}

.footer-container ul {
  display: flex;
  gap: 30px;
}

.footer-container ul li a {
  color: var(--color-light);
  transition: var(--transition);
}

.footer-container ul li a:hover {
  color: var(--color-danger);
}





@media (max-width: 768px) {

.footer-top {
  padding: 20px;
}

.footer-bottom {
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.footer-bottom div {
  margin-top: 20px;
}

.footer-container ul {
  flex-direction: column;
  gap: 20px;
}
}
